

<div class="container">
	<div class="row">
		<div class="col-10 col-lg-9 col-xl-8 mx-auto">
			<hr class="my-4">
			<div class="text-center mb-4">
				<a class="btn btn-sm btn-primary my-2 my-md-0 mr-md-3" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank"><i class="fa fa-facebook-square"></i> Share This Page</a>
				<button class="btn btn-sm btn-secondary copyLink my-2 my-md-0" data-toggle="popover" data-content="copied to clipboard" data-clipboard-text="{{site.url}}{{page.url}}"><i class="fa fa-link"></i> Copy Page URL</button>
			</div>
		</div>
	</div>
	<hr class="my-4" />
</div>
<footer class="pb-4">

	<p class="text-center"><strong>Something missing?</strong></p>
	<p class="text-center"><a href="https://docs.google.com/forms/d/e/1FAIpQLScKTrBDvC6J8_8olwnM6CJcvctRtvRLWiSDCMqyXFmafsiIsA/formResponse" class="btn btn-warning"><i class="fa fa-plus-circle"></i> Submit a Resource or Request</a></p>
	<p class="text-muted small mb-4 text-center">We will verify and post as quickly as possible.</p>

	<hr class="my-4">

	<p class="mb-4 text-muted text-center">This website was designed with speed and bandwidth conservation in mind to increase usabilty on mobile devices with poor connectivity.</p>


	<div class="container text-center">

		<p class="small text-muted">Want to help with the site?</p>
		<p class="small text-muted"><a target="_blank" class="text-info" href="https://join.slack.com/t/norcalfiresfyi/shared_invite/enQtMjU0MzMxMjgwNDgzLTlmZDA0MTczMTAzOWViZTIxMGI1OGVlMjg3MWE0ZWY1OWQzZjIxNDRlZGU2OTlhOThiMWUyNDBmZWNlZWQ5MjU">Join the <i class="fa fa-slack"></i> <strong>Slack</strong> channel</a> or <a class="text-info" href="https://github.com/JusticeforEachOther/norcalfires/">contribute to the <i class="fa fa-github"></i> <strong>Github</strong>.</a></p>

	</div>

</footer>

{% comment %}

This site is designed with speed and bandwidth conservation in mind, unstyled content is fine as long as people get the information they need.

{% endcomment %}

<link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}" />
<script src="{{ '/js/clipboard.min.js' | relative_url }}"></script>
<script src="{{ '/js/jquery-3.2.1.min.js' | relative_url }}"></script>
<script src="{{ '/js/popper.min.js' | relative_url }}"></script>
<script src="{{ '/js/bootstrap.min.js' | relative_url }}"></script>
<link rel="stylesheet" href="{{ '/css/font-awesome.min.css' | relative_url }}" />

<script>
	jQuery(document).ready( function() {
		jQuery("[data-toggle=popover]").popover();
		new Clipboard('.copyLink');
	});
</script>