<header class="py-4 text-left">
	<div class="container">
		<nav class="navbar navbar-expand-md">
			<a class="navbar-brand text-primary lh-115" href="#"><span class="large">norcalfires.fyi</span><br><small class='text-muted'>info on norcal firestorms</small></a>
			<button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#topNav" aria-controls="topNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span><i class="fa fa-hamburger"></i> Menu</span>
			  </button>
			<ul class="navbar-nav ml-auto collapse navbar-collapse justify-content-end" id="topNav">
				<li class="nav-item">
					<a href="#" class="nav-link text-info">Get Informed</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link text-success">Give Help</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link text-danger">Get Help</a>
				</li>
			</ul>
		</nav>
	</div>
</header>