<header class="my-md-2">
	<div class="container">
		<nav class="navbar navbar-expand-md px-0">
			<a class="navbar-brand text-dark font-weight-bold lh-115" href="/"><span class="lead" style="letter-spacing: .5px;"><img src="/img/ncf_logogram.svg" style="height:48px;"/> norcalfires.fyi</span></a>
			<button class="btn btn-dark btn-sm ml-auto d-md-none" type="button" data-toggle="collapse" data-target="#topNav" aria-controls="topNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span><i class="fa fa-bars"></i> Menu</span>
			  </button>
			<div id="topNav" class="collapse navbar-collapse text-uppercase small letter-spacing-1">
				<ul class="ml-auto navbar-nav justify-content-md-end pb-1 pt-2 py-md-0">
					<li class="nav-item mb-2 mb-md-0 mr-md-2">
						<a href="/info" class="nav-link btn btn-info btn-sm px-3 py-1 lh-125 mt-1"><i class="fa fa-newspaper-o"></i> Get Informed</a>
					</li>
					<li class="nav-item mb-2 mb-md-0 mr-md-2">
						<a href="/give_help" class="nav-link btn btn-success btn-sm px-3 py-1 lh-125 mt-1"><i class="fa fa-hand-paper-o"></i> Give Help</a>
					</li>
					<li class="nav-item mb-2 mb-md-0">
						<a href="/get_help" class="nav-link btn btn-danger btn-sm px-3 py-1 lh-125 mt-1"><i class="fa fa-medkit"></i> Get Help</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</header>