<header class="">
	<div class="container">
		<nav class="navbar navbar-expand-md px-0">
			<a class="navbar-brand text-dark font-weight-bold lh-115" href="/"><span class="lead" style="letter-spacing: .5px;"><img src="/img/ncf_logogram.svg" style="height:48px;"/> norcalfires.fyi</span></a>
			<button class="navbar-toggler text-danger ml-auto" type="button" data-toggle="collapse" data-target="#topNav" aria-controls="topNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span><i class="fa fa-bars"></i> Menu</span>
			  </button>
			<div id="topNav" class="collapse navbar-collapse text-uppercase small letter-spacing-1">
				<ul class="ml-auto navbar-nav justify-content-md-end pb-3 pb-md-0">
					<li class="nav-item">
						<a href="/info" class="nav-link text-dark">Get Informed</a>
					</li>
					<li class="nav-item">
						<a href="/give_help" class="nav-link text-dark">Give Help</a>
					</li>
					<li class="nav-item ml-md-1">
						<a href="/get_help" class="nav-link btn btn-danger btn-sm px-3 py-1 lh-125 mt-1"><i class="fa fa-plus"></i> Get Help</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</header>