<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include header.html %}

<hr class="mb-3 mt-0 mb-md-4">

{% include alert.html %}

<div class="container">

	<nav class="text-uppercase small letter-spacing-1 row align-items-stretch p-0">
		<div class="col-12 col-md-4 mb-4 order-md-2">
			<a href="/get_help" class="text-white btn-block btn-danger text-center py-4 px-3 h-100"><span class="h2 mb-2 d-block py-md-4"><i class="fa fa-medkit mb-md-2"></i><br class="d-none d-md-block"> Get Help</span><span class="d-block text-center text-white font-weight-normal">Get food, shelter, and other help.</span></a>
		</div>
		<div class="col-12 col-md-4 mb-4 order-md-3">
			<a href="/give_help" class="text-white btn-block btn-success text-center py-4 px-3 h-100"><span class="h2 mb-2 d-block py-md-4"><i class="fa fa-hand-paper-o mb-md-2"></i><br class="d-none d-md-block"> Give Help</span><span class="d-block text-center text-white font-weight-normal">Donate money, time, and shelter.</span></a>
		</div>
		<div class="col-12 col-md-4 mb-4 order-md-1">
			<a href="/info" class="text-white btn-block btn-info text-center py-4 px-3 h-100"><span class="h2 mb-2 d-block py-md-4"><i class="fa fa-newspaper-o mb-md-2"></i><br class="d-none d-md-block"> Get Informed</span><span class="d-block text-center text-white font-weight-normal">Get the latest updates.</span></a>
		</div>
	</nav>

</div>

{% include footer.html %}

</body>
</html>