<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include header.html %}

{% include alert.html %}

<div class="container-fluid">

	<nav class="text-uppercase small letter-spacing-1 row align-items-stretch pt-4">
		<div class="col-12 col-md-4 mb-4">
			<a href="/info" class="text-white h2 btn-block btn-info text-center h1 py-4"><span><i class="fa fa-newspaper-o mb-md-2"></i><br class="d-none d-md-block"> Get Informed</span></a>
			<p class="text-center text-info mb-0">Get the latest updates.</p>
		</div>
		<div class="col-12 col-md-4 mb-4">
			<a href="/get_help" class="text-white h2 btn-block btn-warning text-center text-white h1 py-4"><span><i class="fa fa-plus-circle mb-md-2"></i><br class="d-none d-md-block"> Get Help</span></a>
			<p class="text-center text-warning mb-0">Get food, shelter, and other help.</p>
		</div>
		<div class="col-12 col-md-4 mb-4">
			<a href="/give_help" class="text-white h2 btn-block btn-success text-center h1 py-4"><span><i class="fa fa-hand-paper-o mb-md-2"></i><br class="d-none d-md-block"> Give Help</span></a>
			<p class="text-center text-success mb-0">Donate, volunteer, and do what you can.</p>
		</div>
	</nav>

</div>

{% include footer.html %}

</body>
</html>