<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include header.html %}

{% include alert.html %}

<div class="container-fluid">

	<nav class="text-uppercase small letter-spacing-1 row align-items-stretch pt-4">
		<div class="col-12 col-md-4 ">
			<a href="/info" class="text-white h2 btn-block btn-info text-center h1 h-100 py-4 mb-4"><i class="fa fa-newspaper-o mb-md-2"></i><br class="d-none d-md-block"> Get Informed</a>
		</div>
		<div class="col-12 col-md-4 ">
			<a href="/gethelp" class="text-white h2 btn-block btn-warning text-center text-white h1 h-100 py-4 mb-4"><i class="fa fa-plus-circle mb-md-2"></i><br class="d-none d-md-block"> Get Help</a>
		</div>
		<div class="col-12 col-md-4 ">
			<a href="/Volunteer" class="text-white h2 btn-block btn-success text-center h1 h-100 py-4 mb-4"><i class="fa fa-hand-paper-o mb-md-2"></i><br class="d-none d-md-block"> Volunteer</a>
		</div>
	</nav>

</div>

{% include footer.html %}

</body>
</html>